@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scrollbar-width: thin;
    color: #1E1E1E;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-image: url(../assets/img/banner-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -2vw left;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    padding: 8vh 9vw 6vh 10vw;
    transition: 0.6s;
    z-index: 5;
}

/* .logo {
    max-height: 12vh;
} */

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Codec Warm Trial';
    font-weight: 700;
    text-decoration: none;
    align-items: right;
    color: #fff;
    gap: 55px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #946cc2;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
    border-bottom: 2px solid #441975;
}


.nav-list :hover {
    color: #441975;
}

a {
    color: #946cc2;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 95%;
    height: 80vh;
    gap: 3vh;
    padding: 5vh 10vw 10vh 5vw;
    margin: 30vh 0 15vh 0;
}

.header-content h1 {
    position: absolute;
    font-family: 'LEMON MILK';
    font-style: normal;
    line-height: 8vh;
    font-size: 4.2vw;
    color: #561C98;
}

.header-content p {
    margin-top: 133px;
    width: 47%;
    font-size: 1.3vw;
    justify-content: left;
}

#btn-header {
    font-family: 'Codec Warm Trial';
    width: 10vw;
    color: #ffff;
    font-size: 17px;
    font-weight: 700;
    background-color: #8653BE;
    border: none;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
}

#btn-header:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background-color: #8653BE;
    box-shadow: 0px 0px 7px #8653BE;
}

.sobreobra {
    /* display: flex; */
    position: relative;
    flex-direction: column;
    padding: 1vh 10vw 10vh 10vw;

}

.jolyne-shape {
    max-height: 80vh;
}

.titulo-obra {
    position: absolute;
    font-family: 'LEMON MILK';
    font-style: normal;
    line-height: 8vh;
    font-size: 4.2vw;
    color: #561C98;
    justify-content: right;
    padding-left: 50%;
    padding-top: 7%;
}

.sinopse {
    width: 47%;
    font-size: 1.3vw;
    justify-content: right;
}


.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 30%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: palevioletred;
  row-gap: 20px;
}

.card-cadastro {
  height: 80%;
}

.card-login {
  height: 60%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #e6005a;
  width: 120px;
  height: 30px;
  align-self: center;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.footer {
  height: var(--tamanho-footer);
  width: 100%;
  background-color: #32b9cd;
  color: #fff;
}

.footer h4 {
  margin: 0;
}

.footer .container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}