@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    background-color: #000;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#46485E,#95637F);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#95637F,#946cc2);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1B1724;
    overflow-x: hidden;
    background: url(../assets/imgs/bg.jpg);
    background-size: cover;
    background-repeat: none;
}

main {
    height: 100vh;
    width: 100vw;
    /* background-image: url('../assets/assets/background-lnd.svg'); */
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

/* ínicio da Header */

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    height: 0px;
    font-size: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-weight: bold;
    margin: 0vw;
    width: 100%;
    padding: 6vh 9vw 6vh 10vw;
    transition: 0.6s ease-in;
    z-index: 5;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    display: inline-block;
    padding: 18px 25px;
    color: #95637F;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav a:hover {
    color: #95637F;
    transition: .3s;
}

.search-box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 9.5%;
    left: 70%;
    background: black;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
}

.search-txt {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 13px;
    line-height: 40px;
    width: 0;
    transition: .4s;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.search-box:hover > .search-txt {
    width: 200px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: #653FB4;
}

/* New user Login and Sign Up buttons  */

.btn-user {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.btn-login {
    background-color: #000;
    color: white;
    font-size: 16px;
    padding: 1vh 2vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.btn-signup {
    background-color: #000;
    color: white;
    font-size: 16px;
    padding: 1vh 1vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

/* -- ínicio do conteúdo da Landing Page*/

.content {
    display: flex;
    line-height: 3vh;
    margin-top: 5vh;
}

.content .info {
    margin-left: 8.5vw;
    align-items: left;
    color: white;
}

.content .info h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 9vh;
    margin-bottom: 11px;
}

.content .info .description {
    font-size: 18px;
    font-weight: 400;
    line-height: 3.5vh;
    margin-bottom: 10px;
}

.land-btns {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2vw;
}

.info-btn {
    background-color: #95637F;
    color: white;
    font-size: 17px;
    padding: 1vh 2vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.info-btn:hover {
    background-color: #774f65;
    transition: 0.6s;
}

.trailer-btn {
    /* background: #95637F; */
    display: inline-block;
    color: white;
    font-size: 17px;
    padding: 1vh 1.5vw;
    border: 2px solid #95637F;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

/* Slideshow photos */

.wrapper {
    margin-top: 6vh;
    max-width: 750px;
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0 35px;
    margin-left: 15vw;
}

.wrapper i {
    height: 45px;
    width: 45px;
    top: 50%;
    text-align: center;
    line-height: 45px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    transform: translateY(-50%);
}

.wrapper i:first-child {
    left: -23px;
}

.wrapper i:last-child {
    right: -23px;
}

.wrapper .carousel {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 160px;
    border-radius: 25px;
    object-fit: cover;
    width: calc(97%/3);
    margin-left: 5px;
    border: 3px solid #fff;
}

.carousel img:first-child {
    margin-left: 0px;

}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(98%/2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

/* -- ínicio da página Sobre a Obra */

.obra-content{
    margin-left: 10vw;
    margin-top: 11vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.obra-content .obra-info {
    color: white;
    justify-content: left;
}

.obra-content .obra-info h3 {
    font-size: 60px;
    line-height: 7vh;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.obra-content .obra-info h3 span {
    color: #95637F;
}

.obra-content .obra-info .paragraph {
    font-size: 16px;
}

.btn-moreanime {
    display: inline-block;
    color: white;
    font-size: 17px;
    padding: 1vh 1.5vw;
    border: 3px solid #95637F;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.obra-content .obra-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5vw;
}

/* ínicio da página sobre Personagens */

.personagens {
    background: url(../assets/imgs/wave-back2.png);
    background-size: cover;
}

.charact-cnt {
    margin-left: 10vw;
    margin-top: 45vh;
    margin-bottom: 20vh;
    align-items: center;
    color: #fff;
}

.charact-cnt h1 {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 3vh;
}

.charact-cnt p {
    font-size: 18px;
    font-weight: 600;
    line-height: 4vh;
    margin-bottom: 27px;
}

/* .charact-cnt p span {
    color: #95637F;
    font-weight: 600;
} */

.btn-maispersonagens {
    background-color: #95637F;
    font-size: 17px;
    color: #fff;
    padding: 1vh 2vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.btn-maispersonagens:hover {
    background-color: #774f65;
    transition: 0.6s;
}

/* FOOTER  */

footer {
    justify-content: center;
}

footer p {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}