* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: url(../assets/imgs/login.jpg);
    background-repeat: no-repeat;
    background-size: 100vh auto;
}

.button {
    margin-top: 5vh;
    margin-left: 3vw;
}

.container {
    display: flex;
    justify-content: right;
    margin-top: 24vh;
    margin-right: 16vw;
}

.card-login {
    align-items: center;
}

.card-login h2 {
    font-size: 70px;
    color: #95637F;
    align-items: center;
    text-transform: uppercase;
}

.formulario {
    justify-content: center;
}