@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #1B1724;
    overflow-x: hidden;
    background: url(../assets/imgs/background.jpg);
    background-size: cover;
    background-repeat: none;
}

::-webkit-scrollbar {
    background-color: #000;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#46485E, #95637F);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#95637F, #946cc2);
}

/* ínicio da Header */

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    height: 0px;
    font-size: 23px;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-weight: bold;
    margin: 0vw;
    width: 100%;
    padding: 6vh 9vw 6vh 10vw;
    transition: 0.6s ease-in;
    z-index: 5;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    display: inline-block;
    padding: 18px 25px;
    color: #95637F;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav a:hover {
    color: #90919e;
    transition: .3s;
}

/* * New user Login and Sign Up buttons  */

.btn-user {
    font-size: 1em;
    display: inline-block;
    padding: 6px 25px;
    color: #95637F;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-login {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.55);
    color: white;
    font-size: 16px;
    padding: 1vh 2vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.btn-login:hover {
    color: #90919e;
    background: #313241;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: .3s;
}

.btn-signup {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.55);
    color: white;
    font-size: 16px;
    padding: 1vh 1vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.btn-signup:hover {
    color: #90919e;
    background: #313241;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: .3s;
}

/* INÍCIO DO CONTEÚDO DA PÁGINA */

main h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'LEMON MILK';
    font-size: 50px;
    margin-top: 10vh;
    margin-left: 35%;
    margin-bottom: 10vh;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.container .card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #1a2f3f, #95637F);
}

.container .card img {
    position: absolute;
    bottom: 0;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container .card:hover img {
    left: 73%;
    height: 500px;
}

.container .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.container .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.container .card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
    margin-bottom: 1vh;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

.container .card .content p {
    color: #fff;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

@media (max-width: 991px) {
    .container .card {
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }

    .container .card:hover {
        height: 600px;
    }

    .container .card:hover img {
        left: 50%;
        height: 350px;
    }

    .container .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}

/* NÃO UTILIZADO */

.image .character {
    width: 900px;
    display: flex;
    justify-content: center;
}

.image .character img {
    max-width: 200px;
}

.thumb {
    position: absolute;
    bottom: 30px;
    transform: translateX(30%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-20px);
}

.thumb li img {
    max-width: 105px;
    border-radius: 100%;
}

/* BUTTON SCROLL TOP */

#scrollUpButton {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background: linear-gradient(#46485E,#95637F);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  #scrollUpButton:hover {
    background-color: linear-gradient(#95637F,#946cc2);
  }



footer {
    background-color: #2a2b38;
    padding: 10px;
    text-align: center;
    color: #fff;
  }