@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    background-color: #000;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#46485E, #95637F);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#95637F, #946cc2);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1B1724;
    overflow-x: hidden;
    background: url(../assets/imgs/background.jpg);
    background-size: cover;
    background-repeat: none;
}

main {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

/* NAVIGATION BAR */

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    height: 0px;
    font-size: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-weight: bold;
    margin: 0vw;
    width: 100%;
    padding: 6vh 11vw 6vh 10vw;
    transition: 0.6s ease-in;
    z-index: 5;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241
}

nav ul li {
    list-style: none;
    font-size: 18px;
    display: inline-block;
    padding: 18px 25px;
    color: #95637F;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav a:hover {
    color: #95637F;
    transition: .3s;
}

.btn-user {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.btn-login {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.55);
    color: white;
    font-size: 16px;
    padding: 1vh 2vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.btn-login:hover {
    color: #90919e;
    background: #313241;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.btn-signup {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.55);
    color: white;
    font-size: 16px;
    padding: 1vh 1vw;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.btn-signup:hover {
    color: #90919e;
    background: #313241;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

/* CONTEÚDO DA PÁGINA */

.content {
    display: flex;
    line-height: 3.2vh;
    margin-top: 5vh;
    gap: 4vw;
}

.content .info {
    margin-left: 5vw;
    align-items: left;
    color: white;
}

.content .info h1 {
    font-size: 38px;
    margin-bottom: 4vh;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

.content .info span {
    font-weight: 600;
    font-size: 20px;
    color: #d696ba;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

img {
    height: 800px;
    border-radius: 50px;
    margin-right: 4vw;
}

.content-autor {
    display: flex;
    align-items: center;
    line-height: 3.3vh;
    margin-top: 6vh;
    background-color: #000;
    padding: 3vh 4vw;
}

.content-autor .info-autor {
    margin-right: 7vw;
    align-items: left;
    color: white;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241
}

.content-autor .info-autor h1 {
    font-size: 48px;
    margin-bottom: 4vh;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

.content-autor .info-autor h3 {
    margin-bottom: 2vh;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

.hirohiko {
    height: 300px;
    border-radius: 100%;
    margin-left: 7vw;
}

/* CONTEÚDO SOBRE AS TEMPORADAS */

main {
    color: #fff;
    margin-top: 15vh;
}

main h1 {
    font-size: 50px;
    margin-left: 5vw;
    margin-bottom: 4vh;
}

.conteudo {
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 4vw;
    flex-wrap: wrap;
    gap: 50px;
}

.season img {
    height: 450px;
    align-self: center;
    width: auto;
}

.season h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-right: 3.5vw;
}

/* .container {
    display: flex;
    line-height: 3.3vh;
    margin-top: 13vh;
}

.content-curiosidade {
    display: flex;
    line-height: 3.3vh;
    margin-top: 13vh;
}

.content-curiosidade .info-curiosidade {
    margin-left: 5vw;
    align-items: left;
    color: white;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

.content-curiosidade .info-curiosidade h1 {
    font-size: 38px;
    margin-bottom: 2vh;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
}

.content-curiosidade .info-curiosidade ul {
    margin-left: 2vw;
    line-height: 4vh;
    margin-bottom: 2vh;
    list-style: none;
    text-shadow: 1px 1px 1px #000,
        2px 2px 3px #313241;
} */