@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: url("../assets/imgs/quiz-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body h2 {
    font-size: 30px;
    color: #46485E;
}

/* NAVIGATION BAR  */

nav {
    position: absolute;
    top: -5px;
    right: 20px;
    left: 20px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.55);
}

nav ul li {
    list-style: none;
    font-size: 18px;
    display: inline-block;
    padding: 18px 25px;
    color: #95637F;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid transparent;
    border-radius: 25px;
    padding: 8px 15px;
    transition: .4s;
}

nav a:hover {
    color: #95637F;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: .3s;
}

.btn-right a {
    font-size: 1em;
    display: inline-block;
    padding: 6px 25px;
    color: #95637F;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.btn-right a:hover,
.btn-right a.active {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* CONTEUDO DA PÁGINA */

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #95637F;
    color: white;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.finish button {
    text-align: center;
}

button:hover {
    background-color: #774f65;
    transition: 0.6s;
}

.countdown {
    color: #46485E;
    font-size: 40px;
    font-weight: 700;
}